<%= form_for(@api_dashboard) do |f| %>
  <% if @api_dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_dashboard.errors.count, "error") %> prohibited this api_dashboard from being saved:</h2>

      <ul>
      <% @api_dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
