<h1>Listing api_dashboards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @api_dashboards.each do |api_dashboard| %>
  <tr>
    <td><%= api_dashboard.name %></td>
    <td><%= api_dashboard.description %></td>
    <td><%= link_to 'Show', api_dashboard %></td>
    <td><%= link_to 'Edit', edit_api_dashboard_path(api_dashboard) %></td>
    <td><%= link_to 'Destroy', api_dashboard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Api dashboard', new_api_dashboard_path %>
